@model Slack.Models.WorkspaceMembership

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkspaceMembership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workspace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workspace.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkspaceMembershipID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
